.mapContainer {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 250px;
  border-radius: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .map {
    height: 200px;
  }
}
